# Python / Backend
.venv/
venv/
__pycache__/
*.pyc
.env
backend/.env
.pytest_cache/
*.log
backend/server.log

# Flutter / Frontend
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/ios/Flutter/Generated.xcconfig
frontend/android/key.properties
frontend/ios/Pods/
frontend/ios/.symlinks/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Database
*.sql
